<div class="container">
	<div class="form-group row mb-3">
		<div class="col-12">
			<h1 class="d-inline-block">Update profile</h1>
		</div>
	</div>
	<div class="d-block mb-3" *ngIf="(user$ | async) as user">
		<bs-card>
			<bs-card-header>
				<i class="fa fa-user"></i> Profile
			</bs-card-header>
			<div class="container p-3">
				<div class="row mb-1">
					<div class="col-md-6 col-form-label">Username</div>
					<div class="col-md-6 col-form-label">{{ user.userName }}</div>
				</div>
				<div class="row mb-1">
					<div class="col-md-6 col-form-label">Email address</div>
					<div class="col-md-6 col-form-label">{{ user.email }}</div>
				</div>
				<div class="row mb-1">
					<div class="col-md-6 col-form-label">Password</div>
					<div class="col-md-6">
						<button class="btn btn-default" (click)="changePassword(true)">
							<i class="fa fa-edit"></i>
							Change
						</button>
					</div>
				</div>
			</div>
		</bs-card>
	</div>
<!--#if (UseTwoFactorAuthentication) -->
	<div class="d-block mb-3" *ngIf="(user$ | async) as user">
		<bs-card>
			<bs-card-header>
				<i class="fa fa-key"></i>
				2-factor authentication
			</bs-card-header>
			<div class="container p-3" *ngIf="!user.isTwoFactorEnabled">
				<div class="row">
					<div class="col-xl-12 col-form-label">
						<span class="d-block text-center h2">Enable 2-factor authentication</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-6 text-center">
						<label>Open your Authenticator app, scan the following QR-code</label>
					</div>
					<div class="col-xl-6 text-center" *ngIf="(twoFaRegistrationUrl$ | async) as twoFaRegistrationUrl">
						<qr-code [value]="twoFaRegistrationUrl" [size]="200" errorCorrectionLevel="M"></qr-code>
						<br />
						<a [href]="twoFaRegistrationUrlSanitized$ | async" title="Or open the authenticator app">Or open the authenticator app</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-12 text-center">
						<button (click)="setEnableTwoFactor(true)" class="btn btn-default">
							<i class="fa fa-key"></i>
							Enable 2-factor authentication
						</button>
					</div>
				</div>
			</div>
			<div class="container p-3" *ngIf="user.isTwoFactorEnabled">
				<div class="row mb-1">
					<div class="col-xl-6 col-form-label">
						2-factor authentication is enabled
					</div>
					<div class="col-xl-6 text-center text-xl-end">
						<button (click)="setEnableTwoFactor(false)" class="btn btn-default">
							<i class="fa fa-key"></i>
							Disable 2-factor authentication
						</button>
					</div>
				</div>
				<div class="row mb-1">
					<div class="col-xl-6 col-form-label">
						<label>Bypass 2-factor authentication for external logins</label>
					</div>
					<div class="col-xl-6 text-center text-xl-end">
						<div class="btn-group rounded">
							<button (click)="setBypass2faForExternalLogin(true)" class="btn" [class.btn-primary]="user.bypass2faForExternalLogin" [class.btn-secondary]="!user.bypass2faForExternalLogin" [attr.disabled]="user.bypass2faForExternalLogin ? true : null">Enable</button>
							<button (click)="setBypass2faForExternalLogin(false)" class="btn" [class.btn-primary]="!user.bypass2faForExternalLogin" [class.btn-secondary]="user.bypass2faForExternalLogin" [attr.disabled]="user.bypass2faForExternalLogin ? null : true">Disable</button>
						</div>
					</div>
				</div>
				<div class="row" *ngIf="{ count: numberOfRecoveryCodesLeft$ | async } as recoveryCodesLeft">
					<div class="col-xl-6 col-form-label">
						<label>
							You have {{ recoveryCodesLeft.count }} recovery codes left.
							Generate new recovery codes before you run out of them
						</label>
					</div>
					<div class="col-xl-6 text-center text-xl-end">
						<button (click)="generateNewRecoveryCodes()" class="btn btn-default">
							<i class="fa fa-refresh"></i>
							Generate new recovery codes
						</button>
					</div>
				</div>
				<div class="row mb-1" *ngIf="(recoveryCodes$ | async) as recoveryCodes">
					<div class="col-md-12">
						<p>Write down these backup codes</p>
						<ul class="list-group">
							<li class="list-group-item" *ngFor="let recoveryCode of recoveryCodes">{{ recoveryCode }}</li>
						</ul>
					</div>
				</div>
			</div>
		</bs-card>
	</div>
<!--#endif -->
<!--#if (UseExternalLogins) -->
	<div class="d-block mb-3" *ngIf="(user$ | async) as user">
		<bs-card *ngIf="(externalLoginProviders$ | async) as externalLoginProviders">
			<bs-card-header>
				<i class="fa fa-comments"></i>
				Social logins
			</bs-card-header>
			<div class="container p-3">
				<div *ngFor="let provider of externalLoginProviders; let isLast = last" class="form-group row" [class.mb-3]="!isLast">
					<div class="col-md-6 col-lg-4">
						<external-login-button *ngIf="!provider.isRegistered" [provider]="provider" [action]="'add'" (loginSuccessOrFailed)="externalLoginSuccessOrFailed($event)"></external-login-button>
						<button *ngIf="provider.isRegistered" (click)="removeExternalLogin(provider.name)" class="btn btn-warning w-100 border-dark">
							<i class="fa fa-trash-o"></i>
							Remove {{ provider.displayName }} login
						</button>
					</div>
					<div class="col-md-6 col-lg-8 col-form-label">
						<span *ngIf="!provider.isRegistered">Add {{ provider.displayName }} account</span>
						<span *ngIf="provider.isRegistered">{{ provider.displayName }} registered</span>
					</div>
				</div>
			</div>
		</bs-card>
	</div>
<!--#endif -->
	<ng-container *ngIf="(developerPortalAppInformation$ | async) as developerPortalAppInformation">
		<div class="d-block mb-3" *ngIf="!developerPortalAppInformation.isRegistered || (developerPortalAppInformation.isRegistered && developerPortalAppInformation.clientId)">
			<bs-card>
				<bs-card-header>
					<i class="fa fa-code"></i>
					Developer portal
				</bs-card-header>
				<form class="container p-3" (submit)="createDeveloperPortal()">
					<div class="row">
						<div class="col-md-12">
							<p>
								You don&#x27;t have a developer portal setup yet.
								Create a new application from the <b>Developer Portal Template</b>,
								and copy the redirect url in the box below.
								The redirect url usually ends with <b>signin-xxx</b>
							</p>
						</div>
					</div>
					<div class="row" *ngIf="!developerPortalAppInformation.clientId">
						<div class="col-md-12">
							<div class="input-group">
								<input type="text" [(ngModel)]="developerPortalRedirectUrl" name="redirectUrl" class="form-control" />
								<button type="submit" class="btn btn-primary">Create</button>
							</div>
						</div>
					</div>
					<div class="row" *ngIf="developerPortalAppInformation.clientId">
						<div class="col-md-6 col-form-label text-end">Client ID</div>
						<div class="col-md-6 col-form-label">{{ developerPortalAppInformation.clientId }}</div>
					</div>
					<div class="row" *ngIf="developerPortalAppInformation.clientId">
						<div class="col-md-6 col-form-label text-end">Client Secret</div>
						<div class="col-md-6 col-form-label">{{ developerPortalAppInformation.clientSecret }}</div>
					</div>
				</form>
			</bs-card>
		</div>
	</ng-container>
</div>
<bs-modal *ngIf="(changePasswordModal$ | async) as changePasswordModal" [(isOpen)]="changePasswordModal.isChangingPassword">
	<form *bsModal cdkTrapFocus (submit)="updatePassword()">
		<div bsModalHeader>
			<h5 class="modal-title">Change password</h5>
		</div>
		<div bsModalBody class="text-nowrap p-2 d-flex flex-row align-items-center justify-content-between">
			<div class="container">
				<div class="form-group row mb-3" *ngIf="changePasswordModal.currentPassword !== null">
					<div [bsFor]="txtCurrentPassword" class="col-md-6 col-form-label">Current password</div>
					<div class="col-md-6">
						<input type="password" [(ngModel)]="changePasswordModal.currentPassword" autofocus name="currentPassword" #txtCurrentPassword class="form-control">
					</div>
				</div>
				<div class="form-group row mb-3">
					<div [bsFor]="txtNewPassword" class="col-md-6 col-form-label">Enter new password</div>
					<div class="col-md-6">
						<input type="password" [(ngModel)]="changePasswordModal.newPassword" [autofocus]="changePasswordModal.currentPassword === null" name="newPassword" #txtNewPassword class="form-control">
					</div>
				</div>
				<div class="form-group row">
					<div [bsFor]="txtNewPasswordConfirmation" class="col-md-6 col-form-label">Confirm new password</div>
					<div class="col-md-6">
						<input type="password" [(ngModel)]="changePasswordModal.newPasswordConfirmation" name="newPasswordConfirmation" #txtNewPasswordConfirmation class="form-control">
					</div>
				</div>
			</div>
		</div>
		<div bsModalFooter>
			<div class="btn-group">
				<button type="submit" class="btn btn-primary" aria-label="Update password">Update password</button>
				<button type="button" bsModalClose class="btn btn-secondary" aria-label="Cancel">Cancel</button>
			</div>
		</div>
	</form>
</bs-modal>
<!--#if (UseTwoFactorAuthentication) -->
<bs-modal *ngIf="(twoFactorCodeModal$ | async) as twoFactorCodeModal" [(isOpen)]="twoFactorCodeModal.isRequestingTwoFactorCode">
	<form *bsModal cdkTrapFocus (submit)="twoFactorCodeEntered()">
		<div bsModalHeader>
			<h5 class="modal-title">Enter verification code</h5>
		</div>
		<div bsModalBody class="p-2">
			<div class="container">
				<ng-container>
					<div class="row">
						<div class="col-md-12">
							<label>
								<input type="radio" [value]="0" [(ngModel)]="twoFactorCodeModal.twoFactorCode.type" (ngModelChange)="setFocus($event === 0, txtVerificationCode)" name="twoFactorCodeType" />
								Verification code
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-form-label ps-4">
							Enter a code from your authenticator app
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-md-12 ps-4">
							<input type="text" [(ngModel)]="twoFactorCodeModal.twoFactorCode.verificationCode" [disabled]="twoFactorCodeModal.twoFactorCode.type !== 0" #txtVerificationCode name="txtVerificationCode" autofocus autocomplete="off" class="form-control">
						</div>
					</div>
				</ng-container>
				<ng-container *ngIf="twoFactorCodeModal.allowRecoveryCode">
					<div class="row">
						<div class="col-md-12">
							<label>
								<input type="radio" [value]="1" [(ngModel)]="twoFactorCodeModal.twoFactorCode.type" (ngModelChange)="setFocus($event === 1, txtRecoveryCode)" name="twoFactorCodeType" />
								Recovery code
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-form-label ps-4">
							Enter one of your recovery codes you&#x27;ve written down when enabling 2-factor authentication.
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ps-4">
							<input type="text" [(ngModel)]="twoFactorCodeModal.twoFactorCode.recoveryCode" [disabled]="twoFactorCodeModal.twoFactorCode.type !== 1" #txtRecoveryCode name="txtRecoveryCode" autocomplete="off" class="form-control">
						</div>
					</div>
				</ng-container>
			</div>
		</div>
		<div bsModalFooter>
			<div class="btn-group">
				<button type="submit" class="btn btn-primary" aria-label="Enable/disable 2-factor authentication">Enable/disable</button>
				<button type="button" (click)="dismissTwoFactorModal()" bsModalClose class="btn btn-secondary" aria-label="Cancel">Cancel</button>
			</div>
		</div>
	</form>
</bs-modal>
<!--#endif -->
