@using MintPlayer.AspNetCore.IdentityServer.Provider.Server.ViewModels.Provider.Auth;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model LoginVM;

<link rel="stylesheet" href="@Model.StylesheetUrl" />
<div class="container login-page">
	<div class="lead">
		<h1>Login</h1>
		<p>Choose how to login</p>
	</div>
	<div class="row">
		@*#if (UseExternalLogins)
		<div class="col-md-6">
		#else
		<div class="col-md-12">
		#endif *@
			<div class="card mb-3">
				<div class="card-header">
					<span>Local Account</span>
				</div>
				<div class="card-body">
					<form action="/Account/Login" method="POST" class="container">
						<input type="hidden" asp-for="ReturnUrl" />
						@Html.AntiForgeryToken()

						<div class="form-group row mb-3">
							<label class="col-form-label" asp-for="User.Email"></label>
							<input class="form-control" placeholder="Email address" asp-for="User.Email" autofocus>
						</div>
						<div class="form-group row mb-3">
							<label class="col-form-label" asp-for="Password"></label>
							<input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
						</div>
						<div class="row">
							<div class="col-md-12 text-center">
								<span class="btn-group">
									<button type="submit" class="btn btn-primary" name="button" value="login">Login</button>
									@Html.ActionLink("Register", "Register", new { ReturnUrl = Context.Request.Query["ReturnUrl"] }, new { @class = "btn btn-secondary" })
								</span>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		@*#if (UseExternalLogins)
		<div class="col-md-6">
			<div class="card mb-3">
				<div class="card-header">
					<span>External Account</span>
				</div>
				<div class="card-body">
					@foreach (var provider in Model.ExternalProviders)
					{
						@Html.RouteLink(provider.DisplayName, "auth-externallogin-challenge", new { provider = provider.Name, returnUrl = Model.ReturnUrl }, new { @class = "btn btn-default d-block w-100" })
					}
				</div>
			</div>
		</div>
		#endif *@
	</div>
</div>
