<body>
	<h1 class="d-inline-block">Create account</h1>
	<bs-grid>
		<bs-form (submitted)="register()">
			<div bsRow class="mb-3">
				<div [bsColumn]="{ md: 12 }">
					<bs-alert [type]="colors.danger" *ngIf="(errorMessage$ | async) as errorMessage">
						{{ errorMessage }}
						<bs-alert-close></bs-alert-close>
					</bs-alert>
				</div>
			</div>
			<div bsRow class="mb-3">
				<div [bsColumn]="{ md: 3 }">
					<label bsColFormLabel [bsFor]="email">Email</label>
				</div>
				<div [bsColumn]="{ md: 9 }">
					<input type="email" [(ngModel)]="user.email" name="email" #email autocomplete="username" />
				</div>
			</div>
			<div bsRow class="mb-3">
				<div [bsColumn]="{ md: 3 }">
					<label bsColFormLabel [bsFor]="username">Username</label>
				</div>
				<div [bsColumn]="{ md: 9 }">
					<input type="text" [(ngModel)]="user.userName" name="username" #username />
				</div>
			</div>
			<div bsRow class="mb-3">
				<div [bsColumn]="{ md: 3 }">
					<label bsColFormLabel [bsFor]="txtpassword">Password</label>
				</div>
				<div [bsColumn]="{ md: 9 }">
					<input type="password" [(ngModel)]="password" name="password" #txtpassword autocomplete="new-password" />
				</div>
			</div>
			<div bsRow class="mb-3">
				<div [bsColumn]="{ md: 3 }">
					<label bsColFormLabel [bsFor]="txtpasswordconfirmation">Password confirmation</label>
				</div>
				<div [bsColumn]="{ md: 9 }">
					<input type="password" [(ngModel)]="passwordConfirmation" name="confirmation" #txtpasswordconfirmation autocomplete="new-password" />
				</div>
			</div>
			<div bsRow >
				<div [bsColumn]="{ md: 12 }" class="text-center">
					<button type="submit" [color]="colors.primary">Create account</button>
				</div>
			</div>
		</bs-form>
	</bs-grid>
</body>
