<bs-grid>
	<div bsRow>
		<div [bsColumn]="{ md: 12 }">
			<h1>Login</h1>
		</div>
	</div>
	<div bsRow class="mb-3" *ngIf="(errorMessages$ | async) as errorMessages">
		<div [bsColumn]="{ md: 12 }">
			<bs-alert *ngFor="let errorMessage of errorMessages" [type]="errorMessage.color" (afterOpenedOrClosed)="removeErrorMessage(errorMessage, $event)">
				{{ errorMessage.message }}
				<bs-alert-close></bs-alert-close>
			</bs-alert>
		</div>
	</div>
	<div bsRow>
		<div [bsColumn]="{ md: 12 }">
			<span class="h2">Login using SSO</span>
		</div>
	</div>
	<div bsRow>
		<div [bsColumn]="{ md: 12 }" class="text-center">
			<span>
				<external-login-button *ngFor="let externalProvider of (externalProviders$ | async)" [provider]="externalProvider" [action]="'connect'" (loginSuccessOrFailed)="externalLoginSuccessOrFailed($event)"></external-login-button>
			</span>
		</div>
	</div>
</bs-grid>
