<body>
	<bs-form (submitted)="login()">
		<bs-grid>
			<div bsRow>
				<div [bsColumn]="{ md: 12 }">
					<h1>Login</h1>
				</div>
			</div>
			<div bsRow class="mb-3" *ngIf="(errorMessages$ | async) as errorMessages">
				<div [bsColumn]="{ md: 12 }">
					<bs-alert *ngFor="let errorMessage of errorMessages" [type]="errorMessage.color" (afterOpenedOrClosed)="removeErrorMessage(errorMessage, $event)">
						{{ errorMessage.message }}
						<bs-alert-close></bs-alert-close>
					</bs-alert>
				</div>
			</div>
			<div bsRow class="mb-3">
				<div [bsColumn]="{ md: 3 }">
					<label class="col-form-label" [bsFor]="txtemail">Email</label>
				</div>
				<div [bsColumn]="{ md: 9 }">
					<input type="email" [(ngModel)]="email" name="email" #txtemail autofocus autocomplete="username" />
				</div>
			</div>
			<div bsRow class="mb-3">
				<div [bsColumn]="{ md: 3 }">
					<label bsColFormLabel [bsFor]="txtpassword">Password</label>
				</div>
				<div [bsColumn]="{ md: 9 }">
					<input type="password" [(ngModel)]="password" name="password" #txtpassword autocomplete="current-password" />
				</div>
			</div>
			<div bsRow>
				<div [bsColumn]="{ md: 12 }" class="text-center">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</div>
<!--#if (UseExternalLogins) -->
			<div bsRow>
				<div [bsColumn]="{ md: 12 }">
					<span class="h2">Or use an external login instead</span>
				</div>
			</div>
			<div bsRow>
				<div [bsColumn]="{ md: 12 }" class="text-center">
					<span>
						<external-login-button *ngFor="let externalProvider of (externalProviders$ | async)" [provider]="externalProvider" [action]="'connect'" (loginSuccessOrFailed)="externalLoginSuccessOrFailed($event)"></external-login-button>
					</span>
				</div>
			</div>
<!--#endif -->
		</bs-grid>
	</bs-form>
	<bs-modal *ngIf="(changePasswordModal$ | async) as changePasswordModal" [(isOpen)]="changePasswordModal.isChangingPassword">
		<bs-form *bsModal cdkTrapFocus (submitted)="updateAdminPassword()">
			<div bsModalHeader>
				<h5 class="modal-title">Change admin password</h5>
			</div>
			<div bsModalBody>
				<bs-grid>
					<div bsFormGroup bsRow class="mb-3">
						<div [bsFor]="txtNewPassword" bsColFormLabel [bsColumn]="{ md: 6 }">New password</div>
						<div [bsColumn]="{ md: 6 }">
							<input type="password" [(ngModel)]="changePasswordModal.newPassword" name="newPassword" #txtNewPassword />
						</div>
					</div>
					<div bsFormGroup bsRow class="mb-3">
						<div [bsFor]="txtNewPasswordConfirmation" bsColFormLabel [bsColumn]="{ md: 6 }">Confirm new password</div>
						<div [bsColumn]="{ md: 6 }">
							<input type="password" [(ngModel)]="changePasswordModal.newPasswordConfirmation" name="newPasswordConfirmation" #txtNewPasswordConfirmation />
						</div>
					</div>
				</bs-grid>
			</div>
			<div bsModalFooter>
				<bs-button-group>
					<button type="submit" [color]="colors.primary" aria-label="Update password">Update password</button>
					<button type="button" bsModalClose [color]="colors.secondary" aria-label="Cancel">Cancel</button>
				</bs-button-group>
			</div>
		</bs-form>
	</bs-modal>
</body>
